body{
    background-color: black;
}

#naglowek{
    color: lightgray;
    background-color:blueviolet;
    text-align: center;
    padding: 30px;
    font-family: comic sans ms;
    letter-spacing: 3px;
}

#naglowek h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px black;
}

#naglowek p{
    font-size: 25px;
    font-weight: italic;
    text-transform: lowercase;
    text-shadow: 3px 1px 4px black;
}

#baner{
    background-image: url("https://fastly.picsum.photos/id/471/1200/300.jpg?hmac=z24d9F7Iinhgxxj9s6sh9X_ujZ4IpKUZxWz4FzjCkGg");
    background-size: cover;
    background-position: bottom;
    padding: 60px, 20px;
    color: white;
    font-family: comic sans ms;
}

#baner h2{
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;            /* wysokość linii */
    letter-spacing: 3px;
    text-transform: capitalize;
    word-spacing: 8px;           /* odstęp między słowami */
    text-align: center;
}

#baner p{
    font-size: 20px;
    font-weight: bold;
    text-transform: lowercase;
    text-align: center;
    line-height: 1.5;
}

#tresc {
    width: 100%;                 
    background-color: #79becf;  
    padding: 20px 0;
    min-height: 300px;
}

.wpis{
    width: 80%;                   
    margin: 15px auto;          
    background-color: #ffffff;
    border-radius: 8px;           
    padding: 15px 20px;
    box-shadow: 0 2px 8px black;
    font-family: 'Helvetic', Arial, sans-serif;

}

.wpis .autor {
    font-weight: bold;
    font-size: 16px;
    color: #1a1a2e;
    margin-bottom: 2px;
}

.wpis .data {
    font-size: 12px;
    color: #7f8c8d;
    margin-bottom: 10px;
}

.wpis .tekst {
    font-size: 15px;
    color: #2c3e50;
    line-height: 1.6;             /* komfortowa wysokość linii */
    margin-bottom: 12px;
}

.wpis .reakcje {
    border-top: 1px solid #645e5e;
    padding-top: 10px;
    color: #3498db;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}

